/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}


/* COLORS */
:root {
    --white-color: #ffffff;
}

/* /COLORS */




/************************************************
    UTILITIES
 ************************************************/


/* 
.container {
    max-width: 1200px;
    margin: 0 auto;
} */


.d-flex {
    display: flex;
}

/* todo: inserire qui row,col,text */

/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}


/* BUTTONS */

.btn {
    background-color: var(--white-color);
    padding: 10px 25px;
    display: inline-block;
    color: black;
    border-radius: 20px;
    text-align: center;
}

/* /BUTTONS */



/************************************************
    SITE SECTIONS
 ************************************************/


/* CONTAINER */

/* MAIN CONTENT */

/* Sidebar */
.container .main-content .sidebar {
    flex-direction: column;
    width: 225px;
}

.container .main-content .sidebar .menu-up {
    height: 100%;
}

.container .main-content .sidebar .menu-down {
    height: 90px;
}

.container .main-content .sidebar .menu-down .install, .user {
    height: 50%;
}
/* /Sidebar */

/* Content */
.container .main-content .content {
    height: calc(100vh - 90px);
    width: calc(100% - 225px);
    overflow-y: scroll;
    overflow: auto;
}

.container .main-content .content .topbar-fixed {
    position: fixed;
    width: calc(100% - 225px);
    height: 90px;
    text-align: end;
}

.container .main-content .content .topbar {
    margin-top: 90px;
}

.container .main-content .content .topbar .menu ul {
    justify-content: center;
    flex-wrap: wrap;
}

.container .main-content .content .topbar .menu ul li {
    list-style: none;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container .main-content .content .topbar .menu ul li a {
    text-decoration: none;
}
/* /Content */


/* /MAIN CONTENT */

/* PLAYER */
.container .player {
    height: 90px;
}

.container .player .menu {
    justify-content: space-between;
    height: 100%;
}

.container .player .menu .menu-left, .menu-center, .menu-right {
    align-items: center;
    justify-content: center;
}

.container .player .menu .menu-left, .menu-right {
    width: 30%;
}

.container .player .menu .menu-center {
    width: 40%;
}

/* /PLAYER */

/* /CONTAINER */


/************************************************
    RESPONSIVE
 ************************************************/

/* SOLUZIONE DESKTOP FIRST */

/* breakpoint lg */
@media screen and (max-width: 992px) {}

/* /breakpoint lg */





/* breakpoint md */
@media screen and (max-width: 768px) {}

/* /breakpoint md */





/* breakpoint sm */
@media screen and (max-width: 576px) {}

/* /breakpoint sm */