/*************************************************
    GENERAL STYLES
 *************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}


/* COLORS */
:root {
    --white-color: #ffffff;
}

/* /COLORS */




/************************************************
    UTILITIES
 ************************************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.d-flex {
    display: flex;
}

/* todo: inserire qui row,col,text */

/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}


/* BUTTONS */

.btn {
    background-color: var(--white-color);
    padding: 10px 25px;
    display: inline-block;
    color: black;
    border-radius: 20px;
    text-align: center;
}

/* /BUTTONS */



/************************************************
    SITE SECTIONS
 ************************************************/

 /* CONTAINER */
 .container {
    flex-direction: column;
    justify-content: space-between;
 }

 /* Main Content */
 .container .main-content {
    height: calc(100vh -90px);
 }

 .container .main-content .sidebar {
    flex-direction: column;
    justify-content: space-between;
    width: 225px;
    /* !ALTEZZA PROVVISORIA */
    height: 700px;
 }

 .container .main-content .sidebar .menu-up {
    height: 100%;
 }

 .container .main-content .sidebar .menu-down {
    height: 90px;
 }

 .container .main-content .sidebar .menu-down .install, .user{
    height: 50%;
 }

 /* /Main Content */




 /* Player */
 .container .player {
    height: 90px;
 }
 /* /Player */

 /* /CONTAINER */


/************************************************
    RESPONSIVE
 ************************************************/

/* SOLUZIONE DESKTOP FIRST */

/* breakpoint lg */
@media screen and (max-width: 992px) {}

/* /breakpoint lg */





/* breakpoint md */
@media screen and (max-width: 768px) {}

/* /breakpoint md */





/* breakpoint sm */
@media screen and (max-width: 576px) {}

/* /breakpoint sm */